config.ps1
temp/
DIST/
symbols/
**/windata/*
!**/windata/.gitkeep
ac-edited-images/*
!ac-edited-images/.gitkeep
script_archive_steam/*
!script_archive_steam/.gitkeep
build-vortex/full/*
!build-vortex/full/c0patch_info.psb.m.json
!build-vortex/full/c0patch_info.psb.m.resx.json
!build-vortex/full/c0patch/
build-vortex/full/c0patch/*
!build-vortex/full/c0patch/image/
build-vortex/full/c0patch/image/*
!build-vortex/full/c0patch/image/.gitkeep
!build-vortex/full/c0patch/motion/
build-vortex/full/c0patch/motion/*
!build-vortex/full/c0patch/motion/.gitkeep
!build-vortex/full/c0patch/scenario/
build-vortex/full/c0patch/scenario/*
!build-vortex/full/c0patch/scenario/.gitkeep
!build-vortex/full/config/
build-vortex/full/config/*
!build-vortex/full/config/init.psb.m.json
!build-vortex/full/config/init.psb.m.resx.json
!build-vortex/full/config/movie_config.psb.m.json
!build-vortex/full/config/movie_config.psb.m.resx.json
build-vortex/partial/*
!build-vortex/partial/c0patch_info.psb.m.json
!build-vortex/partial/c0patch_info.psb.m.resx.json
!build-vortex/partial/c0patch/
build-vortex/partial/c0patch/*
!build-vortex/partial/c0patch/image/
build-vortex/partial/c0patch/image/*
!build-vortex/partial/c0patch/image/.gitkeep
!build-vortex/partial/c0patch/motion/
build-vortex/partial/c0patch/motion/*
!build-vortex/partial/c0patch/motion/.gitkeep
!build-vortex/partial/c0patch/scenario/
build-vortex/partial/c0patch/scenario/*
!build-vortex/partial/c0patch/scenario/.gitkeep
!build-vortex/partial/config/
build-vortex/partial/config/*
!build-vortex/partial/config/init.psb.m.json
!build-vortex/partial/config/init.psb.m.resx.json
!build-vortex/partial/config/movie_config.psb.m.json
!build-vortex/partial/config/movie_config.psb.m.resx.json
build-vortex/common/*
!build-vortex/common/script_info.psb.m.json
!build-vortex/common/script_info.psb.m.resx.json
!build-vortex/common/script/
build-vortex/common/script/*
!build-vortex/common/script/main.nut.m
!build-vortex/common/script/c0override.nut.m
!build-vortex/common/font_info.psb.m.json
!build-vortex/common/font_info.psb.m.resx.json
!build-vortex/common/font/
build-vortex/common/font/*
!build-vortex/common/font/sourcehansansjp-regularit.otf.m
/*.zip
/*.rar

# noidget
installer/build/*
!installer/build/.gitkeep
installer/deploy/
installer/deployUninstaller/
installer/userdata/enscriptToc.json
installer/userdata/enscriptTocC.json

# realboot
launcher/build/*
!launcher/build/.gitkeep
launcher/deploy/